/*! Helper classes should go here */
.clearfix {
  clear: both;
}

.capitalize {
  text-transform: capitalize;
}

.text-center{
	text-align:center;
}

.fl-right{
	float:right;
}

.fl-left{
	float:left;
}

.padder-top{
	padding-top:1.5625rem;
}

.padder-bottom{
	padding-bottom:0.8rem;
}

.text-white{
	color:white;	
}

.img-stretch{
	position:relative;
	width:100%;
}

.img-center{
	display:block;
	text-align:center;
	margin:auto;
}


.border-lines{
	border-top:1px solid $light-grey-bg;
	border-bottom:1px solid $light-grey-bg;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}