/*! Helper classes should go here */
.clearfix {
  clear: both;
}

.capitalize {
  text-transform: capitalize;
}

.text-center{
	text-align:center;
}

.fl-right{
	float:right;
}

.fl-left{
	float:left;
}

.padder-top{
	padding-top:1.5625rem;
}

.padder-bottom{
	padding-bottom:0.8rem;
}