// Fonts
$heading-font: "Quicksand", sans-serif;
$body-font: "Roboto", sans-serif;
$navigation-font: "Quicksand", sans-serif;
$buttons-font: "Quicksand", sans-serif;

// Colors
$nav-color: #1BB3BA;
$nav-bg-color: #EEEEEE;
$footer-bg-color: #1BB3BA;
$body-bg-color: #FFF;

$h1-color: #1BB3BA;
$h1-color-inverse: #FFF;
$h1-bg-color-inverse: #1BB3BA;
$h2-color: #F37565;
$h3-color: #000;

$font-light: #FFF;
$font-dark: #000;

// Buttons
$btn-nav-bg-color: #F2DC3E;
$btn-nav-secondary-bg-color: transparent;
$btn-color: #000;
$btn-secondary-color: #000;

// Breakpoints
$small-break: "only screen and (max-width: 46em)"; // Less than
$medium-break: "only screen and (min-width: 46em)"; // Greater than
$large-break: "only screen and (min-width: 60em)"; // Greater than
