// Fonts
$heading-font: "Quicksand", sans-serif;
$body-font: "Roboto", sans-serif;
$navigation-font: "Quicksand", sans-serif;
$buttons-font: "Quicksand", sans-serif;

// Colors
$nav-color: #1BB3BA;
$nav-bg-color: #EEEEEE;
$footer-bg-color: #1BB3BA;
$body-bg-color: #FFF;
$border-lines: #F1F1F1;
$light-grey-bg: #F1F1F1;
$medium-grey-bg: #d6d6d6;
$mediumdark-grey-bg: #787878;

$h1-color: #1BB3BA;
$h1-color-inverse: #FFF;
$h1-bg-color-inverse: #1BB3BA;
$h2-color: #F37565;
$h3-color: #000;
$h6-color: #787878;


$font-light: #FFF;
$font-dark: #000;

// Buttons
$btn-nav-bg-color: #F2DC3E;
$btn-nav-secondary-bg-color: transparent;
$btn-color: #bc8412;
$btn-secondary-color: #bc8412;

// breadcrumbs
$bc-color: #000000;
$bc-hover-color: #1BB3BA;

// panels
$label-color: #000000;
$label-bg-color: #FFECC4;

// Breakpoints
$small-break: "only screen and (max-width: 46em)"; // Less than
$medium-break: "only screen and (min-width: 46em)"; // Greater than
$large-break: "only screen and (min-width: 60em)"; // Greater than

