/*! Styles used only in style guide */
body > section > section:not([id]) {
  margin: 1.0rem 1.5rem;
  padding: 1.0rem 1.0rem 0;
  border: #000 solid 0.1rem;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  margin-bottom: 1.0rem;
  display: inline-block;
  max-height: 20rem;
  overflow-y: scroll;
}

section p > code {
  margin: 0;
}

img.placeholder {
  width: 100%;
}

p.TODO {
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: purple;
  background: pink;
}

img.TODO {
  border: purple solid thick;
  max-width: 50.0rem;
}
