.banner-container{
	position:relative;
	height:75vh;
	width:100%;
	overflow: hidden;	
	
}

.text-vertical{
	margin-top:12.5%;
}

.img-banner{
  bottom: 0px;
  display: block;
  position: absolute;
  vertical-align: bottom;
  z-index:-1;
  width: 100%;
  left:0;
  top:200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/bubble-tea_Banner.jpg);

}