.banner-container{
	position:relative;
	height:70vh;
	width:100%;
	overflow: hidden;
}

.banner-container.short {
	height: 20vh;
}
.banner-container.short .img-banner {
	background-position: center;
}

.text-vertical{
	margin-top:30%;
}

.img-banner{
  display: block;
  position: absolute;
  /* vertical-align: top; */
  z-index:-1;
  width: 100%;
  bottom: -175px;
  /* left:0; */
  top:0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/bubble_tea_banner.jpg);
  opacity:0.7;
	/* background-color:rgba(0,0,0,0.5); */
}
