/*! Cart styles should go here */
.pop-up-bg{
	position:fixed;
	background:rgba(41,41,41,0.8);
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;

}

.cart-container{
	position:relative;
	margin:auto;
	width:auto;
	margin-top:auto;
	margin-bottom:5rem;
	z-index: 1050;
}


@media #{$small-break}{
	.cart-container{
		width:100%;
	}
	.hide-small{
	 display:none;
	}
	.add-margin-bot{
		padding-bottom:2rem;	
	}

}

@media #{$medium-break}{
	.cart-container{
		margin-top:2.5rem;
		width:95%;
	}
	.hide-small{
	 display:none;
	}
	.add-margin-bot{
		margin-bottom:2rem;	
	}
}

@media #{$large-break}{
	.cart-container{
		width:60%;
		margin-top:5rem;
	}
	.hide-small{
	 display:block;
	}
	.add-margin-bot{
		margin-bottom:0rem;	
	}
}




.cart-content{
  background: white;
  padding:1rem;
  padding-top:2rem;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.btn-checkout{
	margin-top:1rem;
}

.text-right{
	text-align: right;
}

