/*! Styles for drink customizations should go here */
.panel-container{
	cursor: pointer;
	padding:1rem;
	background-color:transparent;
	color:$mediumdark-grey-bg;
	/* border:1px solid $medium-grey-bg; */
	border-radius:5px;
	text-align:center;
	margin-bottom:1rem;
	box-shadow: 0px 1px 10px $medium-grey-bg;
	transition: background-color 0.5s ease;
}

.panel-container.active,
.panel-container:hover,
.panel-container:focus {
	background-color:$btn-nav-bg-color !important;
	/* border:1px solid $medium-grey-bg; */
	color:$btn-color !important;
}


.img-placeholder{
	text-align:center;
	display:block;
	width:50px;
	height:50px;
	margin:auto;
	margin-bottom:0.25rem;
}


.dropdown{
	position: relative;
	cursor: pointer;
  display: inline-block;
  width:100%;
  border-bottom:1px solid $light-grey-bg;
  padding-top:1rem;
  padding-bottom:1rem;
  /* padding-left:0.5rem; */
  padding-right:0.5rem;
}

.dropdown-caret{
	position:absolute;
	right:0.5rem;
	top:2.5rem;
	color:#333333;
}

.dropdown-box{
	display:none;
	position:absolute;
	/* padding:1rem; */
	padding-top:0.25rem;
	padding-bottom:0.25rem;
	z-index:100;
	width:100%;
	border-radius:5px;
	background:$light-grey-bg;
	top:5rem;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.2);
  box-shadow: 0 3px 9px rgba(0,0,0,0.2);
}

.dropdown-content{
	padding-top:1rem;
	padding-left:1rem;
	padding-bottom:1rem;
	margin-bottom:0;
	border-bottom:1px solid $medium-grey-bg;
	transition: background-color 0.5s ease;
}

.dropdown-content:hover, .dropdown-content:focus{
	background:$medium-grey-bg;
}

.dropdown-box .dropdown-content:last-child{
	border-bottom:none;
}
