/*! Footer styles go here */
footer {
	position: absolute;
	height: 7rem;
	bottom: 0;
	right: 0;
	left: 0;
	margin-bottom: 0;
	background:$light-grey-bg;
	padding:1rem;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
	margin-top:2rem;
}

footer span {
	color:$nav-color;
}

.copyright-text {
	color:$mediumdark-grey-bg;
}
