/*! The base styles for all forms should go here */
.btn-form-success,
.btn-form-reset {
  font-family: $buttons-font;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.75rem 0.75rem;
  width:100%;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  padding:1rem 1rem 1rem 1rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

// Submit Button
.btn-form-success {
  /* color: $btn-color; */
  color: #bc8412;
  background-color: $btn-nav-bg-color;
  border-radius: 0.25em;
}
.btn-form-success:hover, .btn-form-success:focus {
  background-color: #FFECC4;
  color: #D28C41;
}

// Reset Button
.btn-form-reset {
  background-color: $btn-nav-secondary-bg-color;
  color: $btn-secondary-color;
}
.btn-form-reset:hover, .btn-form-reset:focus {
  color: #D28C41;
}

.quantity-text-field{
	width:100%;
	border-radius: 3px;
	background-color: $light-grey-bg;
	border:1px solid #d6d6d6;
	padding-top:0.10rem;
	padding-bottom:0.10rem;
	padding-left:0.5rem;
}

.basic-form{
	background-color: $light-grey-bg;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 3px;
	border:1px solid #d6d6d6;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
	width:100%;
}


.review-form{
	position:relative;
	margin-top:1.5rem;
}

.post-btn-container{
	position:absolute;
	bottom:0;
	right:0;
	width:auto;	
	padding:1rem;
	text-align:center;
	
}

@media #{$small-break}{
	.post-btn-container{
		width:100%;
	}
}

@media #{$medium-break}{
	.post-btn-container{
		width:50%;
	}
}

@media #{$large-break}{
	.post-btn-container{
		width:25%;
	}
}

.comment-postsection{
	
}