/*! Styles for login, sign up, forgot password should go here */
.login-form-container{
	position:relative;
	margin:auto;
	width:auto;
}

@media(min-width:80em){
	.login-form-container{
		width:40%;
	}
}

.login-form-content{
	position:absolute;
	border-radius:6px;
	padding:1rem;
	width:100%;
	-webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top:1.5rem;
  outline: 0;
	background: white;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.3);
  box-shadow: 0 3px 9px rgba(0,0,0,0.3);

}

.text-center{
	text-align:center;
}