/*! Styles for login, sign up, forgot password should go here */
.login-form-container{
	position:relative;
	margin:auto;
	margin-top:6rem;
	width:auto;
}

@media #{$small-break}{
	.login-form-container{
		width:100%;
	}
}

@media #{$medium-break}{
	.login-form-container{
		width:80%;
	}
}

@media #{$large-break}{
	.login-form-container{
		width:40%;
	}
}

.login-form-content{
	border-radius:6px;
	padding:2rem;
	padding-top:4rem;
	padding-bottom:3rem;
	width:100%;
	-webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
	background: white;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.2);
  box-shadow: 0 3px 9px rgba(0,0,0,0.2);

}

