/*! Styles for navigation components should go here */
.btn-nav {
  font-family: $buttons-font;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.0rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

// Navigation Button
.btn-nav {
  color: $btn-color;
  background-color: $btn-nav-bg-color;
  border-radius: 0.25em;
}
.btn-nav:hover, .btn-nav:focus {
  background-color: #FFECC4;
  color: #D28C41;
}

// PANEL STYLINGS
nav.panels {
  width: 100%;
}
nav.panels::after {
  content: "";
  display: block;
  clear: both;
}
nav.panels > div {
  margin-bottom: 1.5rem;
}
nav.panels a {
  position: relative;
  display: block;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
nav.panels a:hover,
nav.panels a:focus {
  opacity: 0.8;
}
nav.panels a > img {
  width: 100%;
}
nav.panels a > p {
  position: absolute;
  display: inline-block;
  z-index: 10;
  bottom: 0.25rem;
  width: 100%;
  font-family: $navigation-font;
  text-align: right;
  font-size: 2.0rem;
  font-weight: bold;
  text-transform: lowercase;
  padding: 1.75rem 0.75rem 1.0rem;
  margin: 0;
  background: $label-bg-color;
  color: $label-color;
  opacity: .8;
}

// Icons
nav.icons {

}
nav.icons::after {
  content: "";
  display: block;
  clear: both;
}
nav.icons > div {
  margin-bottom: 1.5rem;
}
nav.icons a {
  text-decoration: none;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
nav.icons a:hover,
nav.icons a:focus {
  opacity: 0.8;
}
nav.icons a > img {
  width: 100%;
  max-height: 5.0rem;
}
nav.icons a > p {
  font-family: $navigation-font;
  font-size: 2.0rem;
  font-weight: bold;
  text-transform: lowercase;
  padding: 0.75rem 0;
  margin: 0;
  color: $label-color;
  opacity: .8;
  text-align: center;
}
