.swatch {
  border: #888 solid 0.1rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-bottom: 1.0rem;
  margin-right: 1.0rem;
  background-color: #FFF;
  box-shadow: 0.2rem 0.2rem 0.2rem #888888;
}

.swatch > .color {
  height: 2.5rem;
  min-width: 10.0rem;
  margin-top: 0.75rem;
}

.swatch > .description {
  padding: 0.5rem 1.0rem;
}

/*! Swatch Colors */
.swatch.title > .color {
  background-color: $h1-color;
}
.swatch.heading > .color {
  background-color: $h2-color;
}
.swatch.sub-heading > .color {
  background-color: $h3-color;
}
.swatch.main-nav > .color {
  background-color: $nav-color;
}

.swatch.background > .color {
  background-color: $body-bg-color;
}

.swatch.footer > .color {
  background-color: $nav-color;
}

.swatch.font-dark > .color {
  background-color: $font-dark;
}

.swatch.font-light > .color {
  background-color: $font-light;
}

.swatch.panels > .color {
  background-color: #FFECC4;
}
